body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  align-items: center;
  background-color: #007ea7;
  justify-content: space-between;
}

.navbar a {
  color: #ffffff;
  text-shadow: 3px 5px 2px #474747;
}

.nav-button {
  color: #fff;
  background-color: #a8c2d9;
  border: 0px;
  border-radius: 5px;
  margin: 5px;
}

.nav-button:hover {
  background-color: #fbcd8e;
  transform: scale(1.2);
}

::placeholder {
  padding: 7px;
  color: gray;
}

.loginBtn {
  color: #32a842;
}

.loginBtn:focus {
  color: grey;
}

.googleBtn {
  display: block;
  padding: 15px;
}

#earth {
  width: 400px;
  height: 400px;
  animation: spinning 60s linear infinite;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main {
  display: flex;
  background-color: #99ffff;
  padding: 50px;
  min-height: 800px;
}

.summary {
  margin-left: 5%;
  align-content: space-around;
  width: 50%;
  text-align: center;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.29);
  /*
   color: #FFFFFF;
   text-shadow: 1px 3px 1px #474747; */
}

.summary p {
  font-size: 22px;
}

li {
  list-style: none;
}
