body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

::placeholder {
  padding: 7px;
  color: gray;
}

.loginBtn {
  color: #32a842;
}

.loginBtn:focus {
  color: grey;
}

.googleBtn {
  display: block;
  padding: 15px;
}
