/* dark blue #007ea7
light blue #99ffff
 golden #ffad33
 green #32a842 */

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transform: scale(1.2);
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main {
  display: flex;
}

.navbar {
  align-items: center;
  background-color: #115898;
  justify-content: space-between;
  height: 80px;
}

.navbar a {
  color: #ffffff;
  text-shadow: 3px 5px 2px #474747;
}

.button {
  color: #fff;
  background-color: #ffad33;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5);
  border: 0px;
  border-radius: 5px;
  margin: 5px;
}

.button:hover {
  background-color: #32a842;
  transform: scale(1.2);
}

.button a {
  color: white;
}

::placeholder {
  padding: 7px;
  color: gray;
}

.loginBtn {
  color: #32a842;
}

.loginBtn:focus {
  color: grey;
}

.googleBtn {
  display: block;
  padding: 15px;
}

#earth {
  width: 400px;
  height: 400px;
  animation: spinning 60s linear infinite;
}
@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mainPage {
  display: flex;
  background-color: #99ffff;
  padding: 50px;
}

.summary {
  margin-left: 5%;
  align-content: space-around;
  width: 50%;
  text-align: center;
  color: transparent;
  background: #666666;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.29);
}

.summary p {
  font-size: 22px;
}

li {
  list-style: none;
}

#webcam {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.question-container {
  background-color: #007ea7;
}

.loading {
  background-color: #99ffff;
  min-height: 900px;
  text-align: center;
  margin-right: 10px;
}

.loading h1 {
  padding: 64px;
  color: #ffffff;
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}

.camera {
  margin-right: 10px;
}

#question-container h2 {
  color: #145c9e;
}

#question-choices h3 {
  color: #ffffff;
  text-shadow: 3px 3px 2px #474747;
}

#choice-a {
  background-color: #ffad33;
}
#choice-b {
  background-color: #007ea7;
}
#choice-c {
  background-color: #c49799;
}
#choice-d {
  background-color: #145c9e;
}
